.nav-bar {
  margin: 0 0 2%;
  padding: 1% 6% 1% 6%;
  background-color: #fff;
  border: solid 1px #e8e8e8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar h1 {
  padding-right: 2.938rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  align-self: flex-end;
  height: 100%;
  margin-top: 0%;
}

.nav-list li a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.2rem;
}
